
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i');

// Variables
@import 'variables';

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

//Font awesome
@import '~font-awesome/scss/font-awesome.scss';

//ionicons
@import "~ionicons/dist/scss/ionicons";

//Simple line icons
@import "~simple-line-icons/scss/simple-line-icons.scss";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
$primary: #5cb85c;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
