


/* Bootstrap Extend Version */

.clean-block {
    padding-bottom: 50px
}

.clean-block.dark {
    background-color: #f6f6f6
}

.clean-block.blue {
    background-color: #007bff;
    color: #fff
}

.clean-block.blue input {
    border: none
}

.clean-block .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center
}

.clean-block .block-heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: .7
}

.clean-block.dark .block-heading p {
    opacity: .8
}

.clean-block .block-heading h1, .clean-block .block-heading h2, .clean-block .block-heading h3 {
    margin-bottom: 1.2rem
}

.clean-block .block-content, .clean-block .content {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    background-color: #fff
}

.clean-block .block-content {
    padding: 40px
}

.clean-block.clean-hero {
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 0
}

.clean-block.clean-hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
    z-index: 1
}

.clean-block.clean-hero .text {
    max-width: 640px;
    color: #fff;
    z-index: 2;
    padding: 40px 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.clean-block.clean-hero h2 {
    margin-bottom: 30px
}

.clean-block.clean-hero p {
    font-size: 18px;
    margin-bottom: 30px
}

.feature-box {
    padding: 15px 20px 15px 70px
}

.feature-box .icon {
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 30px;
    text-align: center;
    color: #3b99e0
}

.feature-box h4 {
    font-weight: 600;
    font-size: 1.2rem
}

.feature-box p {
    font-size: .9em;
    opacity: .8
}

.clean-block.slider {
    margin-left: auto;
    margin-right: auto
}

.clean-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    border-radius: 3px;
    margin-bottom: 40px;
    border: 1px solid #eaeaea
}

.clean-card .image {
    border-radius: 3px 3px 0 0;
    overflow: hidden
}

.clean-card .info {
    padding: 30px
}

.clean-card h4 {
    font-weight: 600;
    font-size: 1em
}

.clean-card p {
    opacity: .8;
    font-size: .85em;
    margin-bottom: .9em
}

.clean-card .icons a {
    font-size: 16px;
    color: #3b99e0;
    opacity: .75;
    height: 2em;
    line-height: 2;
    text-align: center;
    padding: .6em .4em
}

.clean-card .icons a:hover {
    opacity: 1;
    text-decoration: none
}

.clean-block.clean-info {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center
}

.clean-block.clean-info h3 {
    margin-top: .8em;
    margin-bottom: .6em
}

.clean-block.clean-services .card {
    margin-bottom: 30px;
    text-align: center
}

.clean-block.clean-services .card h4 {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: .8em
}

.clean-block.clean-services .card p {
    font-size: .9em;
    opacity: .8
}

.clean-block.clean-services .card button {
    margin-bottom: 25px;
    padding: 6px 20px
}

.clean-block.clean-faq .faq-item {
    margin-bottom: 20px
}

.clean-block.clean-faq .faq-item .question {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5
}

.clean-block.clean-faq .faq-item:not(:first-child) .question {
    margin-top: 1.8em
}

.clean-block.clean-faq .faq-item .answer {
    font-size: 1em;
    color: #7f7d7d;
    margin-top: 20px
}

.clean-block.clean-form form {
    border-top: 2px solid #5ea4f3;
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075)
}

.clean-block.clean-block.clean-gallery .item {
    margin-bottom: 20px
}

.clean-block.clean-gallery .item .image {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075)
}

.clean-block.clean-gallery .lightbox img {
    transition: .2s ease-in-out
}

.clean-block.clean-gallery .lightbox img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.clean-block.clean-gallery img {
    border-radius: 4px
}

.baguetteBox-button {
    background-color: transparent !important
}

.clean-pricing-item .heading {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.clean-pricing-item {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    border-top: 2px solid #5ea4f3;
    padding: 30px;
    overflow: hidden;
    position: relative
}

.clean-block.clean-pricing .col-md-5:not(:last-child) .item {
    margin-bottom: 30px
}

.clean-pricing-item button {
    font-weight: 600
}

.clean-pricing-item .ribbon {
    width: 160px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 2px 3px hsla(0, 0%, 53%, .25);
    background: #4dbe3b;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: -42px;
    top: 20px;
    padding-top: 7px
}

.clean-pricing-item p {
    text-align: center;
    margin-top: 20px;
    opacity: .7
}

.clean-pricing-item .features .feature {
    font-weight: 600
}

.clean-pricing-item .features h4 {
    text-align: center;
    font-size: 18px;
    padding: 5px
}

.clean-pricing-item .price h4 {
    margin: 15px 0;
    font-size: 45px;
    text-align: center;
    color: #2288f9
}

.clean-pricing-item .buy-now button {
    text-align: center;
    margin: auto;
    font-weight: 600;
    padding: 9px 0
}

.clean-block.payment-form form {
    border-top: 2px solid #5ea4f3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    background-color: #fff;
    padding: 0;
    max-width: 600px;
    margin: auto
}

.clean-block.payment-form .title {
    font-size: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: .8em;
    font-weight: 600;
    padding-bottom: 8px
}

.clean-block.payment-form .products {
    background-color: #f7fbff;
    padding: 25px
}

.clean-block.payment-form .products .item {
    margin-bottom: 1em
}

.clean-block.payment-form .products .item-name {
    font-weight: 600;
    font-size: .9em
}

.clean-block.payment-form .products .item-description {
    font-size: .8em;
    opacity: .6
}

.clean-block.payment-form .products .item p {
    margin-bottom: .2em
}

.clean-block.payment-form .products .price {
    float: right;
    font-weight: 600;
    font-size: .9em
}

.clean-block.payment-form .products .total {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-top: 10px;
    padding-top: 19px;
    font-weight: 600;
    line-height: 1
}

.clean-block.payment-form .card-details {
    padding: 25px 25px 15px
}

.clean-block.payment-form .card-details label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #79818a;
    text-transform: uppercase
}

.clean-block.payment-form .card-details button {
    margin-top: .6em;
    padding: 12px 0;
    font-weight: 600
}

.clean-block.payment-form .date-separator {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px
}

.clean-block.clean-catalog .filters {
    padding-left: 40px;
    padding-top: 10px
}

.clean-block.clean-catalog .filter-collapse .filter-caret {
    float: right;
    font-size: 12px;
    line-height: 26px
}

.clean-block.clean-catalog .filter-collapse {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 30px;
    border-radius: 0;
    text-align: left
}

.clean-block.clean-catalog .filters h3 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: .8em
}

.clean-block.clean-catalog .filters .heading {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px
}

.clean-block.clean-catalog .filters .filter-item {
    margin-bottom: 40px
}

.clean-block.clean-catalog .filters label {
    word-wrap: break-word;
    max-width: 100%
}

.clean-block.clean-catalog .products {
    padding: 0
}

.clean-block.clean-catalog .products .row:first-of-type {
    border-top: none;
    border-left: none;
    margin-bottom: 20px
}

.clean-product-item {
    padding: 20px;
    border-right: none;
    border-bottom: 1px solid #e8e6e6;
    height: 100%
}

.clean-product-item .image {
    margin-bottom: 20px
}

.clean-product-item .image img {
    max-width: 220px;
    max-height: 180px
}

.clean-product-item .product-name {
    margin-bottom: 20px;
    text-align: center
}

.clean-product-item .product-name a {
    color: #585858;
    font-size: 1.1em
}

.clean-product-item .product-name a:hover {
    text-decoration: none;
    color: #8f8c8c
}

.clean-product-item .about {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.clean-product-item .price {
    text-align: right;
    padding-right: 10px
}

.clean-product-item .price h3 {
    font-size: 1.2em;
    font-weight: 600;
    color: #32303c;
    margin: 0
}

.clean-product-item .rating {
    color: #fec000
}

.clean-product-item .rating img {
    width: 14px;
    margin-right: 2px
}

.clean-product-item .add .icon {
    padding-right: 10px
}

.clean-block.clean-catalog .products .pages {
    width: 50%;
    margin: 55px auto 0
}

.clean-block.clean-catalog .pagination {
    -ms-flex-pack: center;
    justify-content: center
}

.clean-block.clean-cart .items {
    padding: 36px
}

.clean-block.clean-cart .items .product {
    padding-top: 20px;
    padding-bottom: 40px
}

.clean-block.clean-cart .items .product .product-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    border: 2px solid #f0f0f0
}

.clean-block.clean-cart .items .product {
    padding-top: 0
}

.clean-block.clean-cart .items .product .product-info {
    padding-top: 1em;
    padding-bottom: 1em
}

.clean-block.clean-cart .items .product .product-name {
    font-weight: 600;
    font-size: 1.3em
}

.clean-block.clean-cart .items .product .product-info .product-specs {
    font-size: .8rem;
    font-weight: 600;
    margin-top: 15px
}

.clean-block.clean-cart .items .product .product-info .product-specs .value {
    font-weight: 400
}

.clean-block.clean-cart .items .product .quantity .quantity-input {
    width: 68px
}

.clean-block.clean-cart .items .product .quantity label {
    font-size: .9em
}

.clean-block.clean-cart .items .product .price {
    font-weight: 700;
    font-size: 22px;
    text-align: right
}

.clean-block.clean-cart .summary {
    background-color: #f7fbff;
    height: 100%;
    padding: 30px
}

.clean-block.clean-cart .summary h3 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1d4f88
}

.clean-block.clean-cart .summary h4 {
    padding-bottom: 18px;
    margin-bottom: 0;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px
}

.clean-block.clean-cart .summary h4:first-of-type {
    border-top: 1px solid #86b4e8;
    padding-top: 18px
}

.clean-block.clean-cart .summary h4:last-of-type {
    color: #617ef3;
    border-bottom: 1px solid #e6edf5
}

.clean-block.clean-cart .summary .text {
    font-size: .65em;
    font-weight: 600
}

.clean-block.clean-cart .summary .price {
    font-size: .6em;
    float: right;
    margin-top: 10px
}

.clean-block.clean-cart .summary button {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1em;
    padding: 10px 0
}

.clean-block.clean-product .block-content {
    padding: 20px
}

.clean-block.clean-product .product-info {
    margin-bottom: 50px
}

.clean-block.clean-product .gallery {
    padding: 20px;
    background-color: #f6f6f6
}

.clean-block.clean-product .sp-wrap {
    background: transparent;
    border: none;
    float: none;
    max-width: 100%
}

.clean-block.clean-product .sp-thumbs {
    margin-top: 15px
}

.clean-block.clean-product .sp-thumbs a:link {
    margin-right: 10px
}

.clean-block.clean-product .product-info .info .price {
    padding: 20px 0
}

.clean-block.clean-product .product-info .info .price h3 {
    font-size: 1.5em;
    font-weight: 700
}

.clean-block.clean-product .product-info .info .rating {
    color: #fec000;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.clean-block.clean-product .product-info .info button {
    padding: 10px 20px;
    margin-bottom: 30px
}

.clean-block.clean-product .product-info .info button .fa {
    margin-right: 10px
}

.clean-block.clean-product .product-info .info .summary {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding-top: 30px
}

.clean-block.clean-product .product-info .info .summary p {
    font-size: .9em
}

.clean-block.clean-product .product-info .description {
    max-width: 720px;
    margin: 0 auto
}

.clean-block.clean-product .product-info .description p {
    margin-bottom: 50px
}

.clean-block.clean-product .product-info .description h4 {
    margin-top: 60px;
    margin-bottom: 20px
}

.clean-block.clean-product .tab-content .description {
    padding-top: 60px
}

.clean-block.clean-product .tab-content .description .right {
    text-align: left
}

.clean-block.clean-product .tab-content .reviews, .clean-block.clean-product .tab-content .specifications {
    padding-top: 30px
}

.clean-block.clean-product .product-info .specifications .stat {
    font-weight: 700
}

.clean-block.clean-product .product-info .reviews .review-item {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ded7d7
}

.clean-block.clean-product .product-info .reviews .review-item h4 {
    font-size: 1.2em;
    font-weight: 600
}

.clean-block.clean-product .product-info .reviews .review-item span {
    font-size: .9em
}

.clean-block.clean-product .product-info .reviews .review-item p {
    margin-top: 12px;
    font-size: .9em
}

.clean-block.clean-product .clean-related-items .items {
    margin-top: 30px
}

.clean-related-item {
    border: 1px solid #eaeaea;
    padding-top: 20px;
    padding-bottom: 20px
}

.clean-related-item .related-name {
    text-align: center;
    margin-top: 16px
}

.clean-related-item .related-name a {
    font-size: 1em;
    color: #212529
}

.clean-related-item .related-name a:hover {
    text-decoration: none;
    color: #999ea4
}

.clean-block.clean-product .reviews .review-item .rating, .clean-related-item .related-name .rating {
    color: #fec000;
    margin-bottom: 10px
}

.clean-block.clean-product .product-info .info .rating img, .clean-block.clean-product .reviews .review-item .rating img, .clean-related-item .related-name .rating img {
    width: 18px;
    margin-right: 2px
}

.clean-related-item .related-name h4 {
    font-size: 1.3em;
    font-weight: 600;
    color: #007bff
}

.clean-blog-post {
    padding-bottom: 70px
}

.clean-blog-post h3 {
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 17px
}

.clean-blog-post p {
    font-size: .95em
}

.clean-blog-post .info {
    padding: 5px 0 12px;
    font-size: .9em
}

.clean-blog-post .info span:not(:last-child) {
    margin-right: 7px
}

.clean-blog-post .info a {
    color: inherit
}

.clean-block.clean-post {
    padding-top: 100px
}

.clean-block.clean-post .block-content {
    padding: 0
}

.clean-block.clean-post .post-image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px
}

.clean-block.clean-post .post-body {
    padding: 70px 50px;
    font-size: .9em
}

.clean-block.clean-post .post-body h3 {
    font-weight: 600
}

.clean-block.clean-post .post-body p {
    margin-bottom: 30px
}

.clean-block.clean-post .post-body .post-info {
    padding: 20px 0
}

.clean-block.clean-post .post-body .post-info span {
    color: #007bff
}

.clean-block.clean-post .post-body .post-info span:not(:last-child) {
    margin-right: 40px
}

.clean-block.clean-post .post-body h4 {
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px
}

.clean-testimonial-item {
    border: 1px solid #eaeaea;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075);
    margin-bottom: 30px;
    background-color: #fff;
    color: #212529;
    text-align: left
}

.clean-testimonial-item .card-body {
    padding: 40px
}

.clean-testimonial-item h3 {
    font-size: 1.1em;
    font-weight: 600
}

.clean-testimonial-item p {
    font-size: .9em
}

.clean-testimonial-item h4 {
    font-size: .9em;
    color: #3b99e0
}

.clean-block.add-on {
    padding: 50px 0;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column
}

.clean-block.add-on.call-to-action h3 {
    margin-right: 0;
    margin-bottom: 20px
}

.clean-block.add-on.call-to-action button {
    border-radius: 20px
}

.clean-block.add-on.newsletter-sign-up h2 {
    padding-right: 20px
}

.clean-block.add-on.newsletter-sign-up input {
    max-width: 85%;
    margin-bottom: 18px;
    margin-top: 10px
}

.clean-block.add-on.newsletter-sign-up button {
    border-radius: 20px
}

.clean-block.add-on.newsletter-sign-up .input-group {
    max-width: 300px
}

.clean-block.add-on.social-icons .icons i {
    line-height: 45px
}

.clean-block.add-on.social-icons .icons a {
    font-size: 24px;
    margin-right: 4px;
    color: #6aacf3;
    border: 1px solid;
    opacity: .75;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center
}

.clean-block.add-on.social-icons .icons a:hover {
    opacity: 1;
    text-decoration: none
}

.clean-block.add-on.social-icons.blue .icons a {
    color: #fff;
    opacity: 1
}

.clean-block.add-on.social-icons.blue .icons a:hover {
    opacity: .8;
    text-decoration: none
}

.clean-block.add-on.sponsors a img {
    max-width: 170px;
    -webkit-filter: grayscale(.8);
    filter: grayscale(.8)
}

.clean-block.add-on.sponsors a:not(:last-child) img {
    margin-bottom: 20px
}

@media (max-width: 767.98px) {
    .clean-block.clean-services .row div:last-child .card {
        margin-bottom: 0
    }
}

@media (min-width: 576px) {
    .clean-block {
        padding-bottom: 100px
    }

    .clean-block .block-heading {
        padding-top: 80px
    }

    .clean-block.clean-hero {
        min-height: 680px
    }

    .clean-block.clean-hero .text {
        padding: 0
    }

    .clean-block.clean-block.clean-gallery .item {
        margin-bottom: 40px
    }

    .clean-block.payment-form .title {
        font-size: 1.2em
    }

    .clean-block.payment-form .products {
        padding: 40px
    }

    .clean-block.payment-form .products .item-name, .clean-block.payment-form .products .price {
        font-size: 1em
    }

    .clean-block.payment-form .card-details {
        padding: 40px 40px 30px
    }

    .clean-block.payment-form .card-details button {
        margin-top: 2em
    }
}

@media (min-width: 768px) {
    .clean-block.clean-info.right > .container > .row {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .clean-block.clean-info {
        padding-left: 0;
        padding-right: 0;
        text-align: inherit
    }

    .clean-block.clean-info h3 {
        margin-top: 0
    }

    .clean-block.clean-cart .items .product {
        padding: 0;
        text-align: left
    }

    .clean-block.clean-cart .items .product:not(:last-child) {
        padding-top: 0;
        padding-bottom: 25px
    }

    .clean-block.clean-cart .items .product .price {
        font-weight: 700;
        font-size: 22px
    }

    .clean-block.clean-cart .items .product .quantity {
        text-align: center
    }

    .clean-block.clean-cart .items .product .quantity .quantity-input {
        margin: auto;
        padding-left: 15px;
        padding-right: 5px
    }

    .clean-block.clean-cart .items .product .product-name {
        font-size: 1em
    }

    .clean-block.clean-cart .items .product .product-info {
        padding: 0 15px 0 1.5em
    }

    .clean-block.clean-post .post-image {
        height: 400px
    }

    .clean-block.clean-blog-list .block-content {
        padding: 80px
    }

    .clean-blog-post {
        padding-bottom: 70px
    }

    .clean-block.add-on {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .clean-block.add-on.call-to-action h3, .clean-block.add-on.sponsors a:not(:last-child) img {
        margin-right: 20px;
        margin-bottom: 0
    }

    .clean-block.add-on.newsletter-sign-up h2 {
        margin-bottom: 0
    }

    .clean-block.add-on.newsletter-sign-up input {
        max-width: 200px;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 10px
    }

    .clean-block.clean-catalog .filters {
        padding-top: 30px
    }

    .clean-block.clean-catalog .products {
        padding: 30px 30px 30px 0
    }

    .clean-block.clean-catalog .products .clean-product-item .product-name {
        text-align: left
    }

    .clean-block.clean-catalog .products .row:first-of-type {
        border-top: 1px solid #e8e6e6;
        border-left: 1px solid #e8e6e6
    }

    .clean-block.clean-catalog .products .clean-product-item {
        border-right: 1px solid #e8e6e6
    }

    .clean-block.clean-product .block-content {
        padding: 40px
    }

    .clean-block.clean-product .tab-content .description .right {
        text-align: right
    }
}

@media (min-width: 992px) {
    .clean-card {
        margin-bottom: 0
    }

    .clean-blog-post h3 {
        padding-top: 0
    }

    .clean-block.clean-post .post-image {
        height: 500px
    }

    .clean-block.clean-post .post-body {
        padding: 70px 150px
    }

    .clean-block.clean-testimonials .item {
        margin-bottom: 0
    }

    .clean-block.clean-post .post-body {
        padding: 70px 100px
    }

    .clean-block.clean-post .post-body h4 {
        padding-top: 50px
    }
}

.clean-navbar .navbar-nav .nav-link {
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase
}

.clean-navbar.fixed-bottom, .clean-navbar.fixed-top {
    box-shadow: 0 0 15px rgba(0, 0, 0, .1)
}

.clean-navbar .navbar-nav .nav-item {
    padding-right: 2rem
}

.clean-navbar .navbar-nav:last-child .item:last-child, .clean-navbar .navbar-nav:last-child .item:last-child a {
    padding-right: 0
}

.clean-navbar .logo {
    font-size: 1.5rem
}

.clean-navbar.fixed-top + .page {
    padding-top: 62px
}

@media (min-width: 576px) {
    .navbar {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem
    }

    .clean-navbar.fixed-top + .page {
        padding-top: 5rem
    }
}